@import 'libs/bootstrap-reboot.min';
@import 'base/animations';


.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
  min-height: 50px;
  width: 100%;
  background-color: #fff;
}
  
.row {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  align-items: center;
}

.logo_img {
  height: 70px;
}

.menu{
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  height: 40px;
  margin: 0;
  list-style-type: none;
  &_link {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
  } 
  &_item {
    border-right: 2px double rgb(0, 0, 0);
    padding-right: 14px;
    padding-left: 14px;
    &:last-child {
      border-right: none
    }     
  }   
}

.contact_us img {
  height: 40px;
  margin-right: 10px;
}
.contact_us_wrap {
  font-size: 20px;
}
.contact_us_phone {
  color: black;
}
.contact_us_img {
  animation-name: groupbeat;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  &:hover {
      animation-play-state: paused;
  }
}

.tag {
  min-height: 100px;
  background-color: rgb(255, 255, 255);
  &_descr {
    text-align: center;
    margin: 15px auto 0 auto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: rgb(179, 95, 95);
  }
}

h3 {
  font-size: 30px;
  font-weight: 900;
  padding: 30px auto;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  
  &.elegantshadow {
    color: #131313;
    background-color: #ffffff;
    letter-spacing: .15em;
    text-shadow: 
      1px -1px 0 #999999, 
      -1px 2px 1px #999999, 
      -2px 4px 1px #999999,  
      -3px 6px 1px #999999,  
      -4px 8px 1px #999999,  
      -5px 10px 1px #999999,
      -6px 12px 1px #999999, 
      -7px 14px 1px #999999, 
      -8px 16px 1px #999999, 
      -9px 18px 1px #999999;
  }
}


.info {
  margin-top: 15px;
  position: relative;
  min-height: 800px;
  background: url(../img/info.jpg) center center/cover no-repeat;
  &_items {
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  &_header {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 100px;
    color: rgb(255, 255, 255);
  }
  &_item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    &:hover {
      background-color: rgba(247, 6, 6, 0.4);
      transition-duration: 2s;
    }
  }
  &_head {
    margin-top: 30px;
    font-size: 50px;
    font-weight: 800;
    color: #fff;
  }
  &_des {
    display: block;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 234, 234);
  }
  &_descr {
    display: none;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
  }
}

.feedback {
  min-height: 650px;
  background-color: #f7e7e6;
  padding: 20px 0;
}
.feedback_promo {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.feedback_promo_one {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(148, 63, 63);
}
.feedback-slider {
  margin-top: 20px;
  max-width: 550px;
  position: relative;
  display: flex;
  justify-content: center;
}
.feedback-slider-item img {
  height: 550px;
}
.main-slider-btn {
  position: absolute;
  top: 270px;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  border: none;
  padding: 0;
  z-index: 10;
  background-color: transparent;
}
.main-slider-btn img {
  width: 100%;
}
.main-prev-btn {
  left: 0;
}
.main-next-btn {
  right: 0;
}

.advantages {
  display: block;
  text-align: center;
  margin-left: 30px;
}
.advantages_item {
  margin-top: 33px;
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  &:hover {
    background-color: #cfb7b5;
    transition-duration: 1s;
  }
}
.advantages_head {
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(148, 63, 63);
}
.slider_header {
  font-size: 23px;
  font-weight: 700;
}
.advantages_des {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(62, 5, 136);
}
.advantages_descr {
  font-size: 15px;
  width: 300px;
}
.advantages_img {
  height: 100px;
}

.map {
  position: relative;
  height: 450px;
  text-align: center;
  margin-top: 20px;
  &_info {
    position: absolute;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    height: 50px;
    background-color: rgba(182, 253, 100, 0.6);
    padding: 30px 68px 60px 68px;
  }
  &_addr {
    margin-bottom: 46px;
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
  }
  &_divider {
    width: 299px;
    height: 4px;
    background-color: black;
    margin: 5px auto 20px auto;
  }
  &_head {
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    color: black;
  }
}