@import 'libs/bootstrap-reboot.min';
@import 'base/animations';


.container {
    max-width: 1400px;
    margin: 0 auto;
}

.pageup {
  opacity: 0;
  width: 44px ;
  height: 44px;
  position: fixed;
  bottom: 15%;
  right: 5%;
  z-index: 30;
  background-color: #fff;
  cursor: pointer;
  border: 3px solid rgb(57, 112, 231);
    transition: 1s all;
  }

header {
  min-height: 50px;
  width: 100%;
  background-color: #fff;
}
  
.row {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  align-items: center;
}

.logo_img {
  height: 70px;
}

.menu{
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  height: 40px;
  margin: 0;
  list-style-type: none;
  &_link {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
  } 
  &_item {
    border-right: 2px double rgb(0, 0, 0);
    padding-right: 14px;
    padding-left: 14px;
    &:last-child {
      border-right: none
    }     
  }   
}

.contact_us img {
  height: 40px;
  margin-right: 10px;
}
.contact_us_wrap {
  font-size: 20px;
}
.contact_us_phone {
  color: black;
}
.contact_us_img {
  animation-name: groupbeat;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  &:hover {
      animation-play-state: paused;
  }
}

.tag {
  min-height: 100px;
  background-color: rgb(255, 255, 255);
  &_descr {
    text-align: center;
    margin: 15px auto 0 auto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: rgb(179, 95, 95);
  }
}

h3 {
  font-size: 30px;
  font-weight: 900;
  padding: 30px auto;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  
  &.elegantshadow {
    color: #131313;
    background-color: #ffffff;
    letter-spacing: .15em;
    text-shadow: 
      1px -1px 0 #999999, 
      -1px 2px 1px #999999, 
      -2px 4px 1px #999999,  
      -3px 6px 1px #999999,  
      -4px 8px 1px #999999,  
      -5px 10px 1px #999999,
      -6px 12px 1px #999999, 
      -7px 14px 1px #999999, 
      -8px 16px 1px #999999, 
      -9px 18px 1px #999999;
  }
}

.realized {
  text-align: center;
  margin-top: 50px;
  color: rgb(179, 95, 95);
  font-size: 25px;
  font-weight: 600;
}


%transition_all_03s {
  transition:all .3s ease;
}
%backface_visibility_hidden{
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.swiper-container {
  margin-top: 15px;
  width: 65%;
  height: 70vh;
  left: 5%;
  display:inline-block;
  transition:opacity .6s ease, transform .3s ease;
  &.nav-slider{
    width:25%;
    padding-left:5px;
    .swiper-slide{
      cursor:pointer;
      opacity:.4;
      transition:opacity .3s ease;
      &.swiper-slide-active{
        opacity:1;
      }
      .content{
        width:100%;
        .title{
          font-size:15px;
          background-color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
  &:hover{
    .swiper-button-prev,
    .swiper-button-next{
      transform:translateX(0);
      opacity:1;
      visibility:visible;
    }
  }
  &.loading{
    opacity:0;
    visibility:hidden;
  }
}
.swiper-slide{
  overflow: hidden;
  @extend %backface_visibility_hidden;
  .slide-bgimg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-position:center;
    background-size:cover;
  }
  .entity-img{
    display:none;
  }
  .content{
    position:absolute;
    top:40%;
    left:0;
    width:40%;
    padding-left:5%;
    color:rgb(16, 20, 31);
    .title{
      background-color: rgba(255, 255, 255, 0.6);
      font-size:1.3em;
      line-height: 1.3em;
      font-weight:bold;
      margin-bottom:25px;
    }
    .caption{
      display: block;
      margin-top: 30px;
      font-size: 27px;
      font-weight: 600;
      line-height: 28px;
      color: rgb(179, 95, 95);
    }
  }
}
[class^="swiper-button-"]{
  width:44px;
  opacity:0;
  visibility:hidden;
  @extend %transition_all_03s;
}
.swiper-button-prev{
  transform:translateX(50px);
}
.swiper-button-next{
  transform:translateX(-50px);
}

.info {
  margin-top: 15px;
  position: relative;
  min-height: 800px;
  background: url(../img/info.jpg) center center/cover no-repeat;
  &_items {
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  &_header {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 100px;
    color: rgb(255, 255, 255);
  }
  &_item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    &:hover {
      background-color: rgba(247, 6, 6, 0.4);
      transition-duration: 2s;
    }
  }
  &_head {
    margin-top: 30px;
    font-size: 50px;
    font-weight: 800;
    color: #fff;
  }
  &_des {
    display: block;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 234, 234);
  }
  &_descr {
    display: none;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
  }
}

.feedback {
  min-height: 650px;
  background-color: #f7e7e6;
  padding: 20px 0;
}
.feedback_promo {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.feedback_promo_one {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(148, 63, 63);
}
.feedback-slider {
  margin-top: 20px;
  max-width: 550px;
  position: relative;
  display: flex;
  justify-content: center;
}
.feedback-slider-item img {
  height: 550px;
}
.main-slider-btn {
  position: absolute;
  top: 270px;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  border: none;
  padding: 0;
  z-index: 10;
  background-color: transparent;
}
.main-slider-btn img {
  width: 100%;
}
.main-prev-btn {
  left: 0;
}
.main-next-btn {
  right: 0;
}

.advantages {
  display: block;
  text-align: center;
  margin-left: 30px;
}
.advantages_item {
  margin-top: 33px;
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  &:hover {
    background-color: #cfb7b5;
    transition-duration: 1s;
  }
}
.advantages_head {
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(148, 63, 63);
}
.slider_header {
  font-size: 23px;
  font-weight: 700;
}
.advantages_des {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(62, 5, 136);
}
.advantages_descr {
  font-size: 15px;
  width: 300px;
}
.advantages_img {
  height: 100px;
}

.map {
  position: relative;
  height: 450px;
  text-align: center;
  margin-top: 20px;
  &_info {
    position: absolute;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    height: 50px;
    background-color: rgba(182, 253, 100, 0.6);
    padding: 30px 68px 60px 68px;
  }
  &_addr {
    margin-bottom: 46px;
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
  }
  &_divider {
    width: 299px;
    height: 4px;
    background-color: black;
    margin: 5px auto 20px auto;
  }
  &_head {
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    color: black;
  }
}

.divider_footer {
  width: 600px;
  height: 3px;
  background-color: rgba(247, 6, 6, 0.4);
  margin: 10px auto 10px auto;
}

footer {
  margin-top: 65px;
  min-height: 350px;
  background: url(../img/drawings.jpg) center center/cover no-repeat;
}

.visit {
  position: relative;
  display: flex;
  justify-content: space-around;
  &_item {
    width: 320px;
    text-align: center;
  }
  &_phone {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    margin-top: 30px;
    width: 240px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(to top, #779196 0%, #dff0f3 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #272323;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    &:hover {
      background-image: none;
      background-color:  #f5aeae;
    }
  }
  &_head {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 600;
  }
  &_descr {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 600;
  }
}